// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$f1-primary: mat-palette($mat-blue-gray, 50, 0, 300);
$f1-accent: mat-palette($mat-light-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$f1-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$f1-theme: mat-light-theme((
    color: (
        primary: $f1-primary,
        accent: $f1-accent,
        warn: $f1-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($f1-theme);

.dark {
    /*$f1-theme-dark: mat-dark-theme((
        color: (
            primary: $f1-primary,
            accent: $f1-accent,
            warn: $f1-warn,
        )
    ));

    @include angular-material-theme($f1-theme-dark);*/
}

.txt-primary {
    color: mat-color(map-get($f1-theme, primary));
}

.txt-accent {
    color: mat-color(map-get($f1-theme, accent));
}

.txt-warn {
    color: mat-color(map-get($f1-theme, warn));
}

.mat-body, .mat-body-1, .mat-typography {
    font: 400 1em/1.45em Roboto, "Helvetica Neue", sans-serif;
}
